.cart:hover .cart-button {
  display: block;

  position: absolute;
  top: 0;
  width: 100%;
  height: 230px;
  background-color: rgba(0, 0, 0, 0.397);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart {
  position: relative;
  cursor: pointer;
}
.cart-button {
  position: absolute;
}

/* 
.cart {
    position: relative;
    z-index: -1;
  }
  
  .cart-button {
    cursor: pointer;
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 66%;
    background-color: rgba(0, 0, 0, 0.397);
  }
  
  .cart:hover + .cart-button {
    z-index: 1;
    display: block;
  }
   */
